################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/WuwaFantasy/ipch/WUWAFANTASY-c6b1a4cc
/WuwaFantasy/WuwaFantasy.VC.db
/WuwaFantasy/WuwaFantasy.VC.VC.opendb
/WuwaFantasy/Debug
/WuwaFantasy/WuwaFantasy/Debug
